.input{
    width: 90%;
    border: none;
    background-color: var(--cinza-claro-fundos);
    padding: 1.1rem 0;
    border-radius: 6px;
    box-shadow: 0 2px 2px #00000040;
    text-align: center;
    margin: 0.5rem;
}

.input::placeholder{
    color: var(--cinza-claro);
    font-size: 0.8rem;
}

.input:focus-visible{
    outline-color: var(--azul);
    color: var(--azul);
}

.secundario{
    background-color: var(--branco);
    width: 100%;
    margin: 1rem 0;
}

.mensagem{
    text-align: left;
    padding-bottom: 7rem;
}