.forma1{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
}

.forma2{
    position: absolute;
    right: -5%;
    top: 35%;
    height: 415px;
    z-index: -1;
}

.patas{
    position: absolute;
    top: 0;
    right: 0;
}

.invertido{
    transform: scaleX(-1);
    left: 0;
    top: 80%;
    right: none;
}

.ilustracao{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -20px;
    z-index: -1;
}

.pet{
    margin-left: 1.5rem;
    margin-right: 0.7rem;
    width: 40%;
}

.foto-perfil{
    display: block;
    margin: auto;
}

/* Responsivo */
@media (min-width: 768px) {
    .forma1{
        width:70%
    }
    .forma2{
        height: 664px;
        top: 15%;
        right: 0;
    }
}

@media (min-width: 1440) {
    .forma1{
        width: 40%;
    }
    
}