.forma1{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.forma2{
    position: absolute;
    right: 0;
    top: 30%;
    z-index: -1;
}

.patas{
    position: absolute;
    top: 0;
    right: 0;
}

.invertido{
    transform: scaleX(-1);
    left: 0;
    top: 80%;
    right: none;
}

.ilustracao{
    margin-top: 10% ;
    margin-bottom: -20px;
    z-index: -1;
}