.botao{
    align-items: center;
    background-color: var(--coral);
    border: none;
    border-radius: 6px;
    box-shadow: 2px 2px 4px #00000040;
    color: var(--branco);
    font-weight: 600;
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    width: 50%;
   
}

.botao:hover{
    background-color: #FF9D9E;
}