.cabecalho{
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
    width: 100%;
}

.cabecalho--links{
    align-items: flex-start;
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 5%;
    width: 50%;
}

.cabecalho--login{
    justify-content: space-between;
    left: 0;
    position: relative;
    width: 30%;
}