.cabecalho{
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    width: 100%;
}

.cabecalho--links{
    align-items: center;
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 5%;
    width: 50%;
}


.cabecalho--login{
    position: relative;
    margin-left: -10%;

}

.cabecalho--logo{
    flex-shrink: 0;
    width: 50%;
}

@media (max-width: 78px) {
    .cabecalho--logo{
        display: none;
    }
}

@media (max-width: 1440px) {
    .cabecalho{
        margin-top: 4rem;
    }

    .cabecalho--links{
        left: 0;
    }
    .cabecalho--logo{
        display: block;
    }
    
}

@media (min-width: 1440px) {
    .cabecalho{
        margin-top: 5.5rem;
    }
    .cabecalho--links{
        margin-left: 10%;
        width: 15%;
    }
    
}