.cabecalho{
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    width: 100%;
}

.cabecalho--links{
    align-items: center;
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 5%;
    width: 50%;
}


.cabecalho--login{
    position: relative;
    margin-left: -10%;

}

@media (min-width: 360px) and (max-width: 767px) {
    .cabecalho--logo{
        display: none;
    }
}

@media (min-width: 768px) {
    .cabecalho{
        margin-top: 4rem;
    }

    .cabecalho--links{
        left: 0;
    }
    .cabecalho--logo{
        display: block;
    }
    
}

@media (min-width: 1440) {
    .cabecalho--links{
        width: 30%;
    }
    
}