.container{
    align-items: center;
    display: flex;
    flex-direction: column;   
    flex: 1 0 auto;
    min-height: calc(100vh + 100px);
}

.container--home{
    min-height: 60vh;
}

.cadastro{
    margin-bottom: 7rem;
}

.login{
    margin-bottom: 11rem;
}

.animais{
    margin-top: 4rem;
}

.mensagens{
    margin-top: 6rem;
}

@media (min-width: 768px) {
    .container--home{
        margin-top: 8rem;
        width: 50%;
        justify-content: center;
    }
    .login{
        margin-top: 4rem;
    }
    .cadastro{
        margin-top: 4rem;
    }
    .animais{
        margin-top: 10rem;
    }
    
}

@media screen and (min-width: 1024px) {
    .container--home{
        margin-top: 0;
        width: 50%;
        justify-content: center;
    }
    .login{
        margin-top: 0;
    }
    .cadastro{
        margin-top: 0;
    }
    .animais{
        margin-top: 10rem;
    }
    
}
